body{
    background-image: url(https://i.pinimg.com/564x/33/0c/1b/330c1bfea60d85b914a22276981fd34d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}